.header-menu {
    background-color: #339966 !important;
}

.header-menu {
    background-image: none;
    border: none;
    border-radius: 0;
}

.header-menu .nav-link {
    color: white;
}

.header-menu .nav-item {
    background-color: transparent;
}

.header-menu .nav-item:hover {
    background-color: #1d1d1d;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
